@import "../../../global/index.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.searchIcon {
  font-size: 30px;
  color: $secondary-color;
}

.input {
  border: none;
  font-size: 23px;
  color: $white-text-color;
  background-color: transparent;
  width: 100%;
}

.input:focus {
  outline: none;
}

.searchResultList {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  row-gap: 15px;
  overflow-y: scroll;
}
.searchResultList::-webkit-scrollbar {
  width: 5px;
}

.searchResultList::-webkit-scrollbar-thumb {
  background-color: $backgroundColor;
  border-radius: 5px;
}
.searchResultItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 10px;
  color: rgb($secondary-color, 0.8);
  transition: all 0.1s ease-in-out;

  .icon {
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
}
.searchResultItem:hover {
  background-color: $secondary-color;
  color: rgb($primary-color, 0.8);
  font-weight: 500;
}
