@import "../../../global/index.scss";

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.title {
  color: $secondary-color;
  font-size: 18px;
  font-weight: 450;
}
.inputContainer {
  display: flex;
  align-items: center;
  border: solid 0.1px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  min-height: 45px;
  max-width: 480px;
  padding: 5px 10px;

  input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    font-size: 17px;
    color: $secondary-color;
    font-weight: 300;
    outline: none;
  }
}
.iconContainer {
  @include flexCenter;

  .icon {
    font-size: 20px;
    color: $secondary-color;
  }
}
.changeBtn {
  @include button;
  @include flexCenter;
  max-width: 160px;
}
.errorMessage {
  color: rgb(255, 80, 80);
  font-weight: 300;
  margin-top: 10px;
}
