@import "../../../global/index.scss";

.favoritesList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  row-gap: 15px;
  padding-right: 10px;
}
.loaderContainer {
  @include flexCenter;
  width: 100%;
}

.favoritesList::-webkit-scrollbar {
  width: 5px;
}

.favoritesList::-webkit-scrollbar-thumb {
  background-color: $backgroundColor;
  border-radius: 5px;
}
@media (max-width: $phone-media-break) {
  .favoritesList {
    padding-right: 0;
  }
  .favoritesList::-webkit-scrollbar {
    width: 0px;
  }

  .favoritesList::-webkit-scrollbar-thumb {
    display: none;
  }
}
