$primary-color: #2f2f2f;
$secondary-color: #e4e4e4;
$backgroundColor: #dddddd;
$white-text-color: #ffffff;
$home-page-background-image: "https://res.cloudinary.com/dnxqlkwvr/image/upload/v1707824074/iMarket/Pages/HomePage/background.jpg";
$phone-media-break: 700px;
