@import "../global/index.scss";

.container {
  @include flexCenter(column);
  width: 100%;
  row-gap: 30px;
  padding-bottom: 100px;
  p {
    color: $backgroundColor;
  }
  button {
    @include button;
  }
}

@media (max-width: $phone-media-break) {
  .container {
    padding-top: 50px;
  }
}
