@import "../../../global/index.scss";

.capacityList {
  @include flexCenter;
  text-align: center;
  column-gap: 25px;
  width: 100%;
  padding: 0 50px;
}

.capacityItem {
  @include flexCenter(column);
  cursor: pointer;
  row-gap: 20px;
  border-radius: 10px;
  padding: 35px;
}

.capacityItem:hover {
  background-color: rgba($primary-color, 0.1);
}

.selected,
.selected:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.capacityBreakLine {
  background-color: rgba($primary-color, 0.8);
  border: none;
  height: 70px;
  max-width: 1px;
  min-width: 1px;
}

@media (max-width: 1200px) {
  .capacityList {
    column-gap: 15px;
    padding: 0 35px;
  }
  .capacityItem {
    padding: 30px 20px;
  }
  .capacityItem p {
    font-size: clamp(13px, 1.5vw, 16px);
  }
}

@media (max-width: $phone-media-break) {
  .capacityList {
    flex-direction: column;
    column-gap: 0;
    row-gap: 15px;
    padding: 0 30px;
  }
  .capacityItem {
    width: 100%;
  }
  .capacityItem p {
    font-size: clamp(11px, 2.5vw, 16px);
  }
  .capacityBreakLine {
    width: 150px;
    max-width: unset;
    height: 0.1px;
    min-height: 0.1px;
    max-height: 0.1px;
  }
}
