@import "../../global/index.scss";

.previewBackground {
  @include backgroundImage;
  min-height: 110vh;
  width: 100%;
}

.previewSection {
  @include appWidthContainer;
  height: 100dvh;
}

@media (max-width: $phone-media-break) {
  .previewSection {
    height: 90dvh;
  }
}
