@import "../../../global/index.scss";

.navLinksList {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.navLink {
  font-size: 25px;
}

.navLink a {
  color: $white-text-color;
  text-decoration: none;
}
